@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Gugi|Montserrat');

/* Usage of fonts

for menus font-family: 'Gugi', cursive;
for headers font-family: 'Baloo Bhai', cursive;
for paragraphs font-family: 'Montserrat', sans-serif;

*/

/* menu styling */

body {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-nav a{
    font-family: 'Gugi', cursive;
    font-size: 25px;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
    margin-left: 0px;
    }
}

.navbar {
    background-color: white;
}

/* index.html styling */

.jumbotron-fluid {
    background: url('/static/images/home-festival-image.jpg') no-repeat center center; 
    min-height: 600px;
    margin-top: 0px;
    padding-top: 100px;
}

.display-4 {
    font-family: 'Baloo Bhai', cursive;
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .jumbotron-fluid{
        min-height: 635px;
    }
}

@media screen and (max-width: 768px){
    .display-4{
        font-size: 40px;
    }
}

@media screen and (max-width: 468px){
    .display-4{
        font-size: 20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 336px){
    .jumbotron-fluid{
        margin-top: 50px;
    }
    .navbar-brand img{
        width: 100%;
    }
}

/* add festival styling */


