{% extends 'base.html' %} 
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your festivals, your way</h1>
    </div>
</div>

<div class="container">
    <h2>Welcome to your festivals</h2>
    <p>We thrive to give you what you need. Our aim is to let you be in control of the festivals on this website. We want to know what's happening in your country or city and our users, lik you want to find those hidden gems.
     The festivals that the large public does not know about. Whether it is culture, dance, pop, rock of whatever category you want to place it in, we want to know about it.</p>
</div>
<div class="container">
    <h3>At your festivals you can:</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">View Festivals</h4>
                <p class="card-text">By using the festival calendar and filter festivals by date or category.</p>
                <a href="{{ url_for('view_festivals') }}" class="btn btn-primary">View festivals</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">Add a festival</h4>
                <p class="card-text">Add a festival if it is not on the calendar and let everybody know.</p>
                <a href="{{ url_for('add_festival') }}" class="btn btn-primary">Add a festival</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">Edit a festival</h4>
                <p class="card-text">Change or add info to a festival if you feel it is incorrect.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4>Total freedom is yours!</h4>
    <p>As you see we deliver you total freedom and full control. You have the knwoledge, we have the platform so go check it out.</p>
</div>


{% endblock %}