{% extends 'base.html' %} 
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your festivals, your way</h1>
    </div>
</div>

<div class="container">
    <h2>Welcome to your festivals</h2>
    <p>We thrive to give you what you need. Our aim is to let you be in control of the festivals on this website. We want to know what's happening in your country or city and our users, lik you want to find those hidden gems.
     The festivals that the large public does not know about. Whether it is culture, dance, pop, rock of whatever category you want to place it in, we want to know about it.</p>
</div>
<div class="container">
    <h3>At your festivals you can:</h3>
</div>


{% endblock %}